body {
    font-size: 16px;
    line-height: 1.72222;
    color: #34495e;
    background-color: #fff;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}

h1 {
    font-weight: 700;
    line-height: 1.1;
    font-size: 50px;
    margin: 30px 0 15px;
}

p {
    margin-bottom: 15px;
}

.flat-table {
    margin-bottom: 20px;
    border-collapse: collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.flat-table th, .flat-table td {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.25),
    inset 0 1px rgba(0, 0, 0, 0.25);
}

.flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: #ECF0F1;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

.flat-table td {
    color: #ECF0F1;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: 0.9em;
    text-align: center;
}

.flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.flat-table-1 {
    background: #336ca6;
}

.flat-table-1 tr:hover {
    background: rgba(0, 0, 0, 0.19);
}

.row {
    background-color: #2980B9;
    color: #BDC3C7;
}

.column {
    float: left;
    margin-right: 10px;
    width: 400px;
}

.column.table {
    width: 568px;
}

tbody {
    display: block;
    height: 900px;
    overflow-y: scroll;
}

button {
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 6px;
    color: #fff;
    background-color: #3498db;
    display: block;
    border: none;
    font-weight: 400;
    outline: none;
    margin: 10px;
    cursor: hand;
    display: inline-block;
}

canvas {
    margin: 0 0 0 50px;
}

#info {
    max-width: 400px;
    max-height: 500px;
    overflow-y: scroll;
}